body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

/*The overview's background colour will change based on the subject's accent colour*/
.subjectOverview {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 4px solid black;
  border-radius: 10px;
  margin: 4% auto auto auto;
}

.subjectOverviewHeader {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.subjectName {
  font-size: 250%;
  width: 50%;
  margin: 3%;
}

.subjectTotalXP {
  width: 50%;
  text-align: right;
  margin: 1% 3% 3% 3%;
}

.subjectOverviewComments {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-size: 120%;
}

.subjectFeedback, .subjectNextUp {
  margin: 3%;
}


#levelStatus {
  display: flex;
  flex-direction: row;
  width: 40%;
  border: 4px solid black;
  border-radius: 10px;
  margin-bottom: 2%;
  margin: auto;
}

#levelNumber, #levelBar, #totalXP {
  width: 30%;
  margin: auto;
}

.questionBox {
  border: 5px solid black;
  border-radius: 30px;
  text-align: center;
  width: 60%;
  margin: 3% auto auto auto;
  font-size: 150%;
  padding: 1%;
}

.questionGrid {
  display: grid;
  width: 80%;
  grid-template-columns: 50% 50%;
  margin: auto;
}

.questionGridItem {
  border: 3px solid black;
  border-radius: 30px;
  margin: 0.5%;
}

.questionGridItem:hover {
  background-color: white;
}